$colorA: #0A2647;
$colorB: #144272;
$colorC: #205295;
$colorD: #2C74B3;
$shadow: 0px 0px 5px rgba($color: black, $alpha: 0.5);

.dg-wrapper {
	display: grid;
	grid-auto-flow: row;
	width: 98vw;

	* {
		color: white;
	}

	.dg-header {
		display: grid;
		grid-template-columns: 16px 6fr 2fr 2fr 1fr 1fr 1fr;
		gap: 4px;
		background: rgba($color: $colorC, $alpha: 0.25);
		border: 1px solid $colorC;
		border-radius: 16px;
		margin-bottom: 12px;
		box-shadow: $shadow;
	}

	.dg-body {
		display: grid;
		grid-auto-flow: row;
		gap: 8px;

		.dg-row {
			display: grid;
			grid-template-rows: auto 1fr;

			background: rgba($color: $colorB, $alpha: 0.25);
			border: 1px solid $colorB;
			border-radius: 16px;
			box-shadow: $shadow;

			.dg-row-master {
				display: grid;
				grid-template-columns: 16px 6fr 2fr 2fr 1fr 1fr 1fr;
				gap: 4px;
				align-items: center;
			}

			transition: .05s ease-in-out;

			&:hover {
				filter: brightness(1.2);
			}
		}
	}

	.dg-header-cell,
	.dg-cell {
		padding: 6px 10px;
	}

	.row-selected {
		.dg-row-master {
			border-bottom: 1px solid $colorB;
		}
	}

	.dg-center {
		text-align: center;
	}

	.expand-triangle {
		width: 16px;
		height: 16px;
		margin-left: 6px;
		cursor: pointer;

		svg {
			fill: white;
			transform: rotate(-90deg);
			transition: transform 0.2s ease-in-out;
		}
	}

	.triangle-expanded svg {
		transform: rotate(0deg);
	}
}

.dtg-wrapper {
	display: grid;
	grid-auto-flow: row;
	padding: 16px;

	.dtg-header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
		gap: 4px;
		background: rgba($color: $colorD, $alpha: 0.25);
		border: 1px solid $colorD;
		border-radius: 16px;
		margin-bottom: 8px;
		box-shadow: $shadow;
	}

	.dtg-body {
		display: grid;
		grid-auto-flow: row;
		gap: 4px;

		.dtg-row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
			background: rgba($color: $colorC, $alpha: 0.25);
			border: 1px solid $colorC;
			border-radius: 16px;
			box-shadow: $shadow;
			gap: 4px;
			align-items: center;
		}
	}

	.dtg-header-cell,
	.dtg-cell {
		padding: 6px 8px;
	}
}

.post-link {
	transition: .2s ease-in-out;

	&:hover {
		color: $colorD;
	}
}

.grid-wrapper {
	display: grid;
}

.loading-icon {
	justify-self: center;
	margin: 8px;
	width: 50px;
	height: 50px;
	border: 5px solid rgba(255, 255, 255, 0.3);
	border-top: 5px solid white;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.mobile-warning {
	border: 1px solid red;
	border-radius: 16px;
	background: rgba($color: red, $alpha: 0.25);
	padding: 8px 12px;
	text-align: center;
	font-weight: 900;

	@media(min-width: 1280px) {
		display: none;
	}
}